[Pathing]
paths = [toGoldFromHome.dat, toBankFromGold.dat]
cameraAngle = topView
targetLocation = 'goldMine'

[Idle]
messages = [Anyone got a smoke?]
speakChance = 5

[Mining]
target = gold

[Login]
username = chadsButts
password = McDemShoulders

[Email]
firstName = chad
lastName = Black
email = chadsbutt@gmail.com
password = cznCcnvkEtqL6Hf
